// @import "./google.scss";

@font-face {
	font-family: 'MyriadPro';
	src: url('./myriad/MyriadProBold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('./myriad/MyriadProLight.otf') format('opentype');
	font-weight: lighter;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('./myriad/MyriadProRegular.otf') format('opentype');
	font-weight: 498;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}