.solidWindow {

}

.accent {
  background-color: #4090be;
}

.solidElement {
  background-color: #7cc8ea;
}

.gradient {
  background: rgb(83,175,228);
  background: linear-gradient(0deg, rgba(83,175,228,1) 0%, rgba(191,235,254,1) 100%);
}

.toolBar {
  background-color: #55b0e5;
}

.background {
  background-color: #05222b;
}

.buttonColor {

}