@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/myriad/MyriadProBold.otf') format('opentype');
  font-weight: 698;
  font-style: bold;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/myriad/MyriadProLight.otf') format('opentype');
  font-weight: 398;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/myriad/MyriadProRegular.otf') format('opentype');
  font-weight: 498;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Montserrat";
}

:root {
  font-family: "Montserrat", Calibri, sans-serif;
}

//input {
//  border: none;
//  outline: none;
//  display: inline-block;
//  height: 34px;
//  vertical-align: middle;
//  bottom: 14px;
//  right: 9px;
//  border-radius: 22px;
//  width: 220px;
//  color: black;
//}







input:focus {
  outline: 3px solid grey;
}

button {
  background-color: white;
  color: black;
  font-family: 'MyriadPro';
  font-size: clamp(1rem, 0rem + 5.3333vw, 3rem);
  font-size: clamp(1.75rem, 1.6441rem + 0.565vw, 3rem);
  padding-left: 20px;
  padding-right: 70px;
  border-radius: $border-radius;
  display: flex;
  position: relative;
}

button:hover {
  color: $off-white;
  background-color: black;
  outline: 2px solid white;
}

nav li {
  cursor: pointer;
}

nav li:hover {
  color: black;
  background-color: $off-white;
}

button img {
  position: absolute;
  height: 50%;
  top: 25%;
  right: 10px
}

