@import "../variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: calc(100vh - $toolbar-height);
}

.input {
  border-radius: $border-radius;
  padding: 5px;
  font-size: 1.2rem;
  margin-top: 3px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > * {
    margin: 15px;
    margin-top: 0;
  }

  .createImage {
    width: 70%;
    margin-top: 20px;
    max-width: 500px;
  }

  .button {
    font-size: 1.2rem;
    margin-bottom: 45px;
  }

}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  height: $toolbar-height;
  bottom: 0;
  position: absolute;

  div {
    border-radius: $border-radius;
  }

  img {
    position: absolute;
    left: 5px;
  }

  :hover {
    img {
      filter: invert(100);
    }
  }

  button {
    padding-left: 30px !important;;
  }
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr $toolbar-height;
    height: 100vh;
    padding: 20px;

    div:nth-child(1) p {
      text-align: center;
      font-size: 3rem;
      padding-right: 20px;
    }

    div:nth-child(1) {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .center {
    grid-row: 1/3;
    grid-column: 2/3;
    height: 100%;
    justify-content: center;
    border-radius: $border-radius;
  }
  .return {
    grid-column: 1/2;
    width: auto;
    position: static;
    align-self: end;
    margin-right: 20px;
    border-radius: $border-radius;
  }
}