@import "@/variables";

.paleBlue {
    color: black;

    .solidWindow {
        background-color: #ffffff;
    }

    .accent {
        background-color: #4090be
    }

    .solidElement {
        background-color: #7cc8ea;
    }

    .gradient {
        background: #8bcef1;
        background: linear-gradient(180deg, #beeafe 0%, #53afe4 100%);
    }

    .textBoxBackground {
        background-color: white;
    }

    .textBoxFontColor {
        color: #7cc8ea;
    }

    .toolBar {
        background-color: #55b0e5;
    }

    .background {
        background-color: #529dc2;
    }

    .buttonBackground {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 46%, rgba(202, 224, 227, 1) 51%);
        border: 5px solid white;
        color: #548ba8;
    }

    .buttonBackground:hover {
        color: white;
        background: linear-gradient(180deg, rgb(91, 91, 91) 46%, rgb(30, 30, 30) 51%);
    }
}

.darkBlue {
    color: #ffffff;

    .solidWindow {
        background-color: #0b2631;
    }

    .accent {
        background-color: #0a222b;
    }

    .solidElement {
        background-color: #084c61;
    }

    .gradient {
        background: #042731;
        background: linear-gradient(0deg, #082933 0%, #052c38 100%);
    }

    .textBoxBackground {
        background-color: white;
    }

    .toolBar {
        background-color: #0d2c39;
    }

    input {
        color: black;
    }

    .background {
        background-color: #05222b;
    }

    .buttonBackground {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 46%, rgba(202, 224, 227, 1) 51%);
        border: 5px solid white;
    }

    .buttonBackground:hover {
        color: white;
        background: linear-gradient(180deg, rgb(91, 91, 91) 46%, rgb(30, 30, 30) 51%);
    }
}
